@{
    ViewData["Title"] = "Batteries Page";
}

<div class="text-center">
    <h1 class="display-4">Your Batteries</h1>
</div>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Building Type</th>
            <th>Status</th>
            <th>Commission Date</th>
            <th>Last Inspection</th>
            <th>Operation Certificate</th>
            <th>Battery Info</th>
            <th>Notes</th>
            <th>Created On</th>
            <th>Last Updated</th>
            <th>Employee Id</th>
            <th>Building Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
        <tr>
            <td>@b.id</td>
            <td>@b.building_type</td>
            <td>@b.status</td>
            <td>@b.date_of_commissioning</td>
            <td>@b.date_of_last_inspection</td>
            <td>@b.certificate_of_operations</td>
            <td>@b.information</td>
            <td>@b.notes</td>
            <td>@b.created_at</td>
            <td>@b.updated_at</td>
            <td>@b.employee_id</td>
            <td>@b.building_id</td>
        </tr>
        }
    </tbody>
</table>

