@{
    ViewData["Title"] = "Elevators Page";
}

<div class="text-center">
    <h1 class="display-4">Your Elevators</h1>
</div>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Serial Number</th>
            <th>Model</th>
            <th>Building Type</th>
            <th>Status</th>
            <th>Commission Date</th>
            <th>Last Inspection</th>
            <th>Inspection Certificate</th>
            <th>elevator Info</th>
            <th>Notes</th>
            <th>Created On</th>
            <th>Last Updated</th>
            <th>Column Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model)
        {
        <tr>
            <td>@e.id</td>
            <td>@e.serial_number</td>
            <td>@e.model</td>
            <td>@e.building_type</td>
            <td>@e.status</td>
            <td>@e.date_of_commissioning</td>
            <td>@e.date_of_last_inspection</td>
            <td>@e.certificate_of_inspection</td>
            <td>@e.information</td>
            <td>@e.notes</td>
            <td>@e.created_at</td>
            <td>@e.updated_at</td>
            <td>@e.column_id</td>
        </tr>
        }
    </tbody>
</table>

